<launch>
    <!-- argument -->
    <arg name = "ekf" default = "true"/>
    <arg name = "viz" default="false"/>

    <!-- about tf -->
    <node pkg = "tf2_ros" type = "static_transform_publisher" name = "base_link_to_imu" 
    args = "0.0 0.0 0.12 0.0 0.0 0.0 1.0 base_link /imu"/>

    <node pkg = "tf2_ros" type = "static_transform_publisher" name = "base_link_to_lidar" 
    args = "0.11 0.0 0.13 0.0 0.0 0.0 1.0 base_link /lidar"/>

    <!-- lidar converting -->
    <node pkg="wego" type="lidar_convert" name="lidar_convert"/>

    <!-- racecar driver -->
    <!-- <include file="$(find racecar)/launch/teleop.launch"/> -->
 
    <!-- about odom -->
    <group if = "$(arg ekf)">
        <include file="$(find robot_localization)/launch/dual_ekf_navsat_example.launch"/>
    </group>

    <group unless= "$(arg ekf)">
        <node pkg="wego" type="pub_odom.py" name="odom_tf_broadcast"/>
    </group>

    <!-- visualization / gmapping 할때도 rviz 켜져서 겹치면 error 발생하기 때문에 이렇게 설정.-->
    <group if = "$(arg viz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wego)/rviz/display.rviz"/>
    </group>
    
</launch>
