<launch>
    <node pkg = "move_base" type = "move_base" name="move_base" output="screen">
        <!-- costmap 관련 -->
        <rosparam file = "$(find wego_2d_nav)/params/costmap_common_params.yaml" command="load" ns="global_costmap"/> <!-- ns : namespace -->
        <rosparam file = "$(find wego_2d_nav)/params/costmap_common_params.yaml" command="load" ns="local_costmap"/>

        <rosparam file = "$(find wego_2d_nav)/params/global_costmap_params.yaml" command="load"/> <!-- 각각 사용되는 것들-->
        <rosparam file = "$(find wego_2d_nav)/params/local_costmap_params.yaml" command="load"/> <!-- 각각 사용되는 것들-->

        <!-- global planner 및 local planner 관련 -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <param name="use_dijkstra" value="true"/> <!-- value 값을 false로 주면 A* algorithm 사용되는데 비교해보기 -->
        <param name="planner_frequency" value="5.0"/> <!-- topic의 hz -->
        <param name="planner_patience" value="5.0"/> <!-- topic을 얼마나 기다릴지 -->

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/> <!-- TebLocalPlannerROS local 소문자 아님.-->
        <rosparam file = "$(find wego_2d_nav)/params/teb_local_planner_params.yaml" command="load"/>
        <param name="controller_frequency" value="10.0"/> <!-- 얘네도 테스트 하기-->
        <param name="controller_patience" value="7.0"/>

        <param name="clearing_rotation_allowed" value="false"/> <!-- ackerman style의 robot 같은 경우 현재 제자리 회전이 안된다. -->
        <remap from="odom" to="/odometry/filtered"/> <!-- odom/filtered topic을 받아서 이걸로 tf를 만들어준다-->
    </node>
    <node pkg = "wego_2d_nav" type = "cmd_vel_to_ackermann.py" name="cmd_vel_to_ackermann"/>
</launch>